<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/jack.jpg">
    <title>shopify</title>
    <link rel="stylesheet" href="/static/images/style.css">
    
</head>
<body>
        
      
    <div class="  h-full">
        <header class="text-gray-600  bg-amber-50 sticky top-0 body-font md:pr-10 md:pl-20 ">
            <div class="container mx-auto flex flex-wrap p-5 flex-col justify-center md:flex-row items-center ">
            <!-- <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"> -->
                <img class="w-40  items-center" src="/static/images/shopify.png" alt="">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Tailblocks</span> -->
                <a class="md:mr-5 hidden md:flex hover:text-gray-900 p-5 md:ml-3">Start</a>
                <a class="md:mr-5 hidden md:flex hover:text-gray-900">Sell</a>
                <a class="md:mr-5 hidden md:flex hover:text-gray-900">Market</a>
                <a class="md:mr-5 hidden md:flex hover:text-gray-900">Manage</a>
            
            <nav class="md:ml-auto hidden md:flex flex flex-wrap items-center text-base justify-center">
                <a class="md:mr-5 hover:text-gray-900">Pricing</a>
                <a class="md:mr-5 hover:text-gray-900">Learn</a>
                <a class="md:mr-8 hover:text-gray-900">Log in</a>
                
            </nav>
            <button class="inline-flex  items-center  border-0 py-3 px-5 focus:outline-none bg-emerald-800 text-white hover:bg-green-900 font-bold rounded text-base mt-4 md:mt-0">Try for free
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg> -->
            </button>
            </div>
        </header>

        


    </div>
    
    
</body>
</html>